@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{
    ViewBag.Title = "Demo";

}

    <div class="well">
        <legend>Upload Inline</legend>
        <p class="help-block">jpg/png size max 5 MB</p>
        @(
        Html.MvcFileUpload()
        .UploadAt(Url.Action("UploadFile"))
        .WithFileTypes(@"/(\.|\/)(pdf)$/i")
        .WithMaxFileSize(50000)
        .AddFormField("entityId", "1234")
        .RenderInline("_MvcFileupload")
        )
        
    </div>
    
    <div class="well">
        <legend>Another inline uploader in same page</legend>
        <p class="help-block">jpg/png size max 5 MB, max number of files 2, image preview disabled</p>
        <p class="help-block">note: do not set thumbnailUrl in returned json from server side controller in case image preview is disabled, in this demo it is being set, so tumbnail is shown after upload.</p>
        @(
        Html.MvcFileUpload() 
        .UploadAt(Url.Action("UploadFile"))
        .WithFileTypes(@"/(\.|\/)(jpe?g|png)$/i")
        .WithMaxFileSize(5000000)
        .MaxNumberOfFiles(1)
        .DisableImagePreview()
        .ExcludeSharedScript()  //this should be called as this page contains another inline widget which loaded shared scripts
        .RenderInline("_MvcFileupload")
        )
    </div>       
    
